pypdf
pydantic_settings
langchain
langchain_cohere 
pytest
langchain_postgres
langchain_community
psycopg[binary]
psycopg2[binary]
langchain_core
pydantic_settings
chainlit
unstructured
docx
docx2txt
langchain_groq
logging
uvicorn
