pypdf
pydantic
pydantic_settings
langchain
langchain_cohere 
pytest
langchain_postgres
langchain_community
psycopg[binary]
psycopg2[binary]
langchain_core
chainlit
unstructured
docx
docx2txt
langchain_groq
langchain_openai
fastapi[all]
uvicorn[standard]
# logging
